<header class="register-header icon-register-next">
<%= link_to root_path do %>
<i class=" fa fa-arrow-left"></i>
<% end %>
<span class="register">REGISTER</span>
<span class="next">Next</span>
</header>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="user-pic">
  <div class="pic-upload">
<i class=" fa fa-user"></i>
<p class="upload">Upload picture</p>
  </div>
</div>
  <div class="form-control">
  <div class="form-input">
  <%= f.text_field :name, placeholder: "Full name", class: "input-details" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input-details" %>
    <% if @minimum_password_length %>
    <em><% @minimum_password_length %></em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "input-details" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm password", class: "input-details" %>
    </div>
  </div>

  <div class="submit">
    <%= f.submit "Next", class: "signup-btn" %>
  </div>
<% end %>
<div class="shared-links-login">
<%= render "devise/shared/links" %>
</div>