<header class="header-pay">
<nav class="nav-list">
<%= link_to user_categories_path(current_user) do %>
  <i class="fas fa-less-than"></i>
  <% end %>
<h1>New Payment</h1>
<i class="fas fa-search"></i>
</nav>
</header>

<div class="input-name-amount">
<%= form_for @payment, url: user_payments_path, method: :post do |f| %>
    <div class="label-payment">
      <%= f.text_field :name, class: "name-field", placeholder: "Name", required: true %>
    <%= f.number_field :amount, class: "amount-field", placeholder: "Amount", required: true %>
  </div>
  
  <div class="categories-li">
  <div class="category-checkbox">
  <%= f.label :category_ids, "Categories", class: "category-label" %>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
    <div class="form-check">
      <%= cb.check_box(class: "form-check-input") %>
      <%= cb.label(class: "form-check-label") %>
    </div>
  <% end %>
</div>
</div>
</div>
    <div class="save-btn">
      <%= f.submit "Save", class: "submit-save-btn" %>
    </div>
  <% end %>
 
 